body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.p { position: absolute }
input { width: 100px; height: 100px }
.up {
  width: 100px;
  height: 100px;
  left: 110px;
  top: 0px;
}
.down {
  width: 100px;
  height: 100px;
  left: 110px;
  top: 150px;
}
.left {
  width: 100px;
  height: 100px;
  left: 10px;
  top: 80px;
}
.right {
  right: 0px;
  top: 80px;
}
